.pergunta {
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    word-spacing: 5px;
    font-size: 40px;
    font-family: "Comic Sans MS", "Comic Sans", cursive
}
.alternativa {
    text-align: center;
    word-spacing: 5px;
    font-size: 30px;
    font-family: "Gill Sans", "sans-serif", cursive
}
.titulo {
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    word-spacing: 5px;
    font-size: 80px;
    font-family: "Papyrus", "Fantasy", cursive
}
.paragrafo {
    text-align: center;
    text-indent: 50px;
    word-spacing: 5px;
    font-size: 30px;
    font-family: "Comic Sans MS", "Comic Sans", cursive
}
.formulario {
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    word-spacing: 1px;
    font-size: 20px;
    font-family: "Comic Sans MS", "Comic Sans", cursive
}
.coxinha {
    text-align: center;
  
    font-weight: bold;
    word-spacing: 5px;
    font-size: 160px;
    font-family: 'Brush Script MT', cursive;
}

.pastel {
    text-align: center;
  
    font-weight: bold;
    word-spacing: 1px;
    font-size: 20px;
    font-family: 'Courier New', monospace;
}